.App {
  text-align: center;
}

.row-container {
  display: flex;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.nav-brand {
  width: 30%;
}

.nav-links {
  width: 70%;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li {
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: rgba(167, 167, 167, 0.774);
  transition: all ease .2s;
}

.nav-links a:hover {
  color: rgba(63, 63, 63, 0.774);
  transition: all ease .2s;
}

.recording-controls-container {
  flex-basis: 100%;
  align-items: center;
}

.record-btn {
  transition: all ease .5s;
}

.record-btn-active {
  transition: all ease .5s;
  background-color: red;
  color: white;
}

.sound-clip-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 145px;
  border: solid black 1px;
}

.single-sound-container {
  border: solid 1px black;
  height: 250px;
  width: 210px;
  border-radius: 5px;
  overflow: hidden;
}

.single-sound-container .info {
  height: 88%;
  border-bottom: solid 1px black;
}

.single-sound-container .audio {
  height: 13%;
  align-items: center;
  justify-content: space-around;
}

.single-sound-container audio {
  max-width: 100%;
}

.single-sound-container progress {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  border: solid 1px gray;

}
::-webkit-progress-bar {
  background-color: white;
}

.play-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #c9c9c9 .5px;
  transition: all ease .2s;
  color: #c9c9c9;
}

.play-btn:hover {
  transition: all ease .2s;
  box-shadow: 0 1px 1px gray;
  color: #4e4e4e
}