/* GENERAL APP CSS */
.App {
  text-align: center;
}

.row-container {
  display: flex;
}

.column-container {
  display: flex;
  flex-direction: column;
}

/* NAV */

.nav-brand {
  width: 30%;
}

.nav-links {
  width: 70%;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li {
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: rgba(167, 167, 167, 0.774);
  transition: all ease .2s;
}

.nav-links a:hover {
  color: rgba(63, 63, 63, 0.774);
  transition: all ease .2s;
}

/* SOUND RECORDING VIEW */

.recording-controls-container {
  flex-basis: 100%;
  align-items: center;
}

.record-btn {
  transition: all ease .5s;
}

.record-btn-active {
  transition: all ease .5s;
  background-color: red;
  color: white;
}

.sound-clip-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 145px;
  border: solid black 1px;
}

/* CUSTOM AUDIO CONTROLS */
.audio-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 1px;
  border-radius: 3px;
  padding: 10px 0;
}

.play-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #c9c9c9 .5px;
  transition: all ease .2s;
  color: #c9c9c9;
}

.play-btn:hover {
  transition: all ease .2s;
  box-shadow: 0 1px 1px gray;
  color: #4e4e4e;
}

.duration {
  width: 70%;
}

.loop:focus {
  outline: none;
}

.loop-true {
  background-color: rgb(85, 85, 201);
  color: white;
  transition: all ease .2s;
}

.loop-false {
  background-color: white;
  color: rgb(121, 130, 184);
  transition: all ease .2s;
}

/* ALL SOUNDS VIEW */

.single-sound-container {
  border: solid 1px black;
  height: 250px;
  width: 210px;
  border-radius: 5px;
  overflow: hidden;
}

.single-sound-container .info {
  height: 88%;
  border-bottom: solid 1px black;
  justify-content: space-around;
  align-items: center;
}

.single-sound-container .info > * {
  margin: 0;
}

.single-sound-container .audio {
  height: 13%;
  align-items: center;
  justify-content: space-around;
}

.single-sound-container audio {
  max-width: 100%;
}

/* .single-sound-container progress {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  border: solid 1px gray;

}
::-webkit-progress-bar {
  background-color: white;
} */

.star-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(126, 126, 126) 1px;
  font-size: 25px;
  width: 13%;
  padding: 15px;
  border-radius: 50%;
  color: rgba(247, 247, 3, 0.582);
  background-color: #aaaaaa;
  transition: all ease .3s;
}

.star-button:hover {
  /* animation: star-spin .6s; */
  transition: all ease .3s;
  background-color: #525252;
  color: rgb(247, 247, 3);
  box-shadow: 2px 2px 10px #eeeb2e, -2px -2px 10px #eeeb2e;
}

.stars-and-movements {
  width: 100%;
  justify-content: space-around;
}

.stars-container {
  border: solid gray 1px;
  border-radius: 6px;
  padding: 3px;
  display: flex;
  justify-content: center;
  transition: all ease .3s;
}

.stars-container:hover {
  box-shadow: 2px 2px 10px #666b86, -1px -1px 10px #666b86;
  transition: all ease .3s;
}

.stars-container p {
  margin: 0;
  margin-left: 5px;
}

@keyframes star-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}